.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    padding-left: auto;
    padding-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    min-width: 400px;
    min-height: 400px;
  }
  .form-control{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
  }
  .button{
    min-width: 300px;
    width:40%;
    margin-left: auto;
    margin-right: auto;
  }